html,
body {
    height: 100%;
    width: 100%;
    margin: 0px;
}

* {
    box-sizing: border-box;
}

.main {
    overflow: auto;
    width: 100%;
}

.header {
    height: 60px;
    width: 100%;
    background-color: #fac769;
    position: fixed;
    z-index: 1;
}

.icon {
    height: 100%;
    width: 60px;
    float: right;
}

.tranding {
    overflow: auto;
    width: 100%;
    height: 100%;
    background-image: url(../images/headphone.jpg);
    background-size: cover;
}

.text {
    height: 400px;
    width: 500px;
    position: absolute;
    left: 80px;
    bottom: 20px;
}

.contain {
    overflow: auto;
    width: 100%;
}

.text2 {
    height: 200px;
    width: 100%;
    margin-top: 80px;
    margin-bottom: 80px;
}

.adv {
    height: 100px;
    width: 100%;
    background-color: #fac769;
    position: relative;
}

.pragraph {
    height: 100%;
    width: 80%;
    margin: auto;
}

.NewHP {
    overflow: auto;
    width: 100%;
}

.container {
    overflow: auto;
    width: 80%;
    margin: auto;
    padding-top: 100px;
}

.title {
    height: 80px;
    width: 60%;
    margin: 5px;
}

.card {
    width: 30%;
    height: 496px;
    background-color: #fac769;
    float: left;
    margin: 5px;
}

.card2 {
    width: 25%;
    height: 174px;
    float: left;
    padding: 10px;
}

.card-item {
    width: 100%;
    height: 100%;
    position: relative;
}

.adv1 {
    height: 150px;
    width: 100%;
    background-color: #fac769;
    margin-top: 100px;
}

.title3 {
    height: 80px;
    width: 80%;
    margin: 100px;
}

.card3 {
    width: 25%;
    height: 285px;
    float: left;
    padding: 10px;
    position: relative;
}

.location {
    height: 100%;
    width: 100%;
    position: absolute;
}

.map {
    height: 500px;
    width: 100%;
}

.footer {
    height: 150px;
    width: 100%;
}

strong {
    color: #232323;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    font-stretch: 100%;
    font-weight: 400;
}

span {
    color: rgb(35, 35, 35);
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-stretch: 100%;
    font-weight: 400;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    box-sizing: border-box;
    color: #232323;
    font-weight: 400;
    line-height: 1.6;
}

.col {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 60px;
    width: 600px;
    color: white;
}

.pic {
    width: 100%;
    height: 50%;
}

.info {
    width: 80%;
    height: 45%;
    margin: auto;
}

h3 {
    margin: 5px;
}

.row {
    height: 100%;
    width: 60%;
    margin: auto;
}

.media-container {
    height: 100%;
    width: 80%;
    background-color: #fac769;
    float: left;
}

.media-logo {
    height: 100%;
    width: 20%;
    background-image: url(../images/learn%20icon.JPG);
    background-position: center center;
    float: right;
}

.boldNum {
    height: 30%;
    position: absolute;
    width: 100%;
    font-size: 64px;
    color: orange;
    font-family: 'Poppins', sans-serif;
    font-stretch: 100%;
    font-weight: 700;
    box-sizing: border-box;
    z-index: 0;
}

.Card-text {
    height: 80%;
    width: 100%;
    position: absolute;
    bottom: 40px;
    z-index: 1;
    font-size: 9px;
}

p {
    color: #767676;
}

a {
    color: orange;
    text-decoration: none;
}

.map-text {
    height: 100%;
    width: 40%;
    margin: auto;
}

.left {
    height: 100%;
    width: 30%;
    background-image: url(../images/footer-left.JPG);
    background-position: center -40px;
    float: left;
}

.right {
    height: 100%;
    width: 30%;
    float: right;
    background-image: url(../images/footer-right.JPG);
    background-position: center center;
}

.center {
    height: 100%;
    width: 40%;
    float: left;
    background-image: url(../images/footer-center.JPG);
    background-position: center center;
}